*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar .form-inline{
    display: flex;
    margin-right: auto;
}
.navbar .form-inline input{
    margin-right: 10px;
}
.navbar .form-inline button{
    white-space: nowrap;
}
.nav-link{

}
.navbar{
    width: 100%;
    background-image: linear-gradient(to right, #c1a080, #f8d6b4);
    padding: 0 !important;
}
.navbar-brand
{
    width: 30px;  /* Ensure equal width and height */
    height: 30px;
    border-radius: 50%;  /* Fully round the container */
    overflow: hidden;  /* Make sure the overflow is hidden */
    display: flex;  /* Center the image */
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.navbar-brand img
{
    height: 40px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #000000 !important;
    font-weight: 600;
    float: right;
    text-align: right;
}
.fa-bars{
    color: #ffffff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

.btn-primary {
    background-color: #574029 !important; /* Change to your desired background color */
    border-color: #574029 !important; /* Match the border color */
}
/*----------banner section----------*/
#banner {
    background-color: #b7926d;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
}
.promo-title
{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    margin-bottom: 20px;
}
.play-btn
{
    width: 200px;
    margin: 10px;
}
.img-fluid
{
    width: 500px;
    margin: 10px;
}
#banner a
{
    color: #8e6b48;
    text-decoration: none;
}
.bottom-img
{
    width: 100%;
}
/*------------menu section-------------*/
#services
{
    background-color: #b7926d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.services {
    margin-bottom: 20px;
}
.services h4
{
    padding-top: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.services p {
    margin: 10px 0;
    text-align: center;
}
.title {
    position: relative;
    text-align: center;
}

.title::before {
    content: '';
    background: #8e6b48;
    height: 5px;
    width: 500px;
    display: block;
    margin: 0 auto;
    transform: translateY(63px);
}

#services .btn-primary
{
    color: #8e6b48;
    margin-left: auto;
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;

}

.btn-respond {
    background-color: #8e6b48 !important; /* Change to your desired background color */
    border-color: #040303 !important; /* Match the border color */
    margin: 1px;
}
/* ------Profile Section------ */

#profile
{
    background-color: #b7926d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child items horizontally */
    padding: 10px;
}
.title
{
    margin-top: 20px;
}
.about-title
{
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center; /* Center the title */
}
.col-md-6
{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center textarea vertically */
    align-items: center; /* Center horizontally */
    width: 100%;
}

.img-fluid {
    margin-top: 50px;
}
.comments
{
    margin-top: 30px;
}
textarea
{
    background: #f8d6b4;
    white-space: pre-wrap;
}
textarea::placeholder
{
    color: black;
}

.music-box {
    width: 100%; /* Full width of the container */
    max-width: 800px; /* Maximum width */
    height: auto; /* Height of the box */
    padding: 20px;
    border: 2px solid #000; /* Black border */
    background-color: #f8d6b4; /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto; /* Centered and adds margin */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow */
}

.audio-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures title and audio control are well spaced */
    border: 2px solid #8e6b48; /* Change to desired border color */
    background-color: #f1f1f1; /* Change to desired background color */
    padding: 10px;
    border-radius: 8px; /* Optional: Adds rounded corners */
    margin-bottom: 15px; /* Adds space between multiple audio containers */
}

.audio-title {
    font-size: 16px; /* Adjust the title font size as needed */
    margin-right: 15px; /* Space between the title and the audio player */
    color: #574029; /* Title color, adjust as needed */
}

audio {
    flex-grow: 1; /* Makes the audio player take the remaining available space */
    max-width: 200px; /* Adjust based on the desired size of the audio player */
    height: 30px; /* Adjust for better alignment if needed */
}

.custom-btn
{
    background: #574029;
    border-color: #040303;
}


/*---Admin Panel Section---*/
#admin-page
{
    background-color: #b7926d;
}

/*---Login section---*/

#login
{
    background-color: #b7926d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child items horizontally */
    padding: 0px;
}



